## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 1.0
  - nightly
notifications:
  email: false
git:
  depth: 99999999

matrix:
  allow_failures:
    - julia: nightly

## uncomment and modify the following lines to manually install system packages
#addons:
#  apt: # apt-get for linux
#    packages:
#    - gfortran
#before_script: # homebrew for mac
#  - if [ $TRAVIS_OS_NAME = osx ]; then brew install gcc; fi

#script: # the default script is equivalent to the following
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia -e 'Pkg.clone(pwd()); Pkg.build("Jute"); Pkg.test("Jute"; coverage=true)';

after_success:
  - julia -e 'import Pkg; cd(Pkg.dir("Jute")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())';
  - julia -e 'import Pkg; cd(Pkg.dir("Jute")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())';
  - julia -e 'import Pkg; cd(Pkg.dir("Jute")); Pkg.add("Documenter"); include("docs/make.jl")'
